/* General reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS variables */

:root {
  /* ### Primary */

  --tomato: hsl(4, 100%, 67%);

  /* ### Neutral */

  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --pink: hsl(348, 100%, 66%);
}

/* Global styles */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-slate-grey);
  line-height: 1;
  letter-spacing: 0px;
  min-height: 100vh;
  background-color: var(--charcoal-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Article signup styles */
/*
main {
  width: 37.5rem;
}
  */
.signup {
  background-color: var(--white);
  min-width: 30rem;
}
.signup__form-container {
  display: flex;
  flex-direction: column;
}
.signup__image {
  width: 100%;
}

.signup__wrapper {
  margin: 4.2rem 2rem 3.2rem 2rem;
}
.signup__content {
  margin-bottom: 4rem;
}
.signup__title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.signup__info {
  margin-bottom: 3.2rem;
}
.signup__list {
  list-style: none;
  padding: 0rem;
}

.signup__list-item {
  line-height: 1.5;
  padding: 0.5rem 0;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.signup__list-item::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(./assets/images/icon-list.svg) no-repeat center center;
}

/* Cta styles */

.signup__label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; 
  }

.signup__label {
  font-size: 1.2rem;
  font-weight: 700;
  
}
.signup__error {
    font-size: 1.2rem;
    color: red; 
  }

.signup__input {
  width: 100%;
  padding: 1.6rem;
  display: block;
  border: 1px solid var(--grey);
  border-radius: 5px;
  margin-bottom: 2.4rem;
}
.signup__submit-btn {
  width: 100%;
  padding: 2rem 3.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}
.signup__submit-btn:hover {
  background: linear-gradient(90deg, var(--pink), var(--tomato));
}

/* Success message styles */

.signup__success-container {
  display: none;
  border-radius: 20px;
  margin: 6rem 0;
  padding: 3.2rem;
  max-width: 37.5rem;

}
.success-message__icon {
    width: 6rem;
    height: 6rem;
}
.success-message__title {
    font-size: 4.8rem;;
}
.success-message__text {
    line-height: 1.5;
}
.success-message__email-address {
    font-weight: 700;
}
.success-message__dismiss-btn {
  width: 100%;
  margin-top: 20rem;
  padding: 2rem 3.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}
.success-message__dismiss-btn:hover {
  background: linear-gradient(90deg, var(--pink), var(--tomato));
}


/* Initial Style for success message */
.signup__success-container {
    display: none; /* Success message hidden initially */
  }
  
  /* Success message display when signup--success class is present */
  .signup--success .signup__success-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  /* Hide form container when signup--success class is present */
  .signup--success .signup__form-container {
    display: none;
  }
  
/* Break Points */
/*
# tablet    ≥ 768px = 48rem
# desktop	≥ 992px = 62rem
*/

/* Responisve styles for desktop view */

@media (min-width: 48rem) {
  .signup {
    padding: 2rem;
    border-radius: 30px;  
    
  }
  .signup__form-container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
}
.signup__wrapper {
    padding: 0 4rem;
    max-width: 50%;
}
.signup__title {
    font-size: 5.6rem;
    margin-bottom: 3.2rem;
}
.signup__success-container {
margin: 0;
}
.success-message__title {
    max-width: 50rem;
    font-size: 5.4rem;
}
.success-message__dismiss-btn {
    margin-top: 3.2rem;
}
  
} 

/**
 * Form Validation Errors
 */
.error {
	border-color: var(--tomato);
    color: var(--tomato);
    background-color: hsl(4, 100%, 67%, 0.1);
}

.error-message {
	color: red
}


